<main style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;">
    <h1 style="color: #333;">
        Добрый день, <%= nickname %>!
    </h1>
    <p style="margin: 20px 0; font-size: 16px;">
        Для подтверждения сброса пароля нажмите на кнопку ниже:
    </p>
    <a 
        href="http://localhost:4200/auth/reset-password/<%=token%>" 
        style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px;"
    >
        Сбросить пароль
    </a>
    <p style="margin-top: 20px; font-size: 14px; color: #666;">
        Если вы не запрашивали сброс, проигнорируйте это письмо.
    </p>
</main>