<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        Спасибо что подтвердили почту!
    </h1>
    <p>
        Чтобы перейти к рецептам нажмите сюда:
        <a href="http://localhost:5432"> 🌝 </a>
    </p>
</body>

</html>